<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Seven Segment.ttf</string>
		<string>routed-gothic.ttf</string>
		<string>DSEG7Classic-Regular.ttf</string>
		<string>GTMaru-Regular.otf</string>
		<string>GT-Maru-Mono-Regular.otf</string>
		<string>GT-Maru-Mono-Medium.otf</string>
		<string>OpenGorton-Regular.otf</string>
		<string>OpenGorton-Bold.otf</string>
	</array>
</dict>
</plist>
